.container-wrap {
    padding-top: 5rem;
}
.navbar-brand {
    display: flex;
    align-items: center;
    img {
        width: 24px;
        margin-right: 0.5rem;
    }
}
.table {
    td, th{
        word-break: keep-all;   
    }
}
.accordion-item {
    .table tr:last-child td{
        border-width: 0;
    }
}